[MESSAGES CONTROL]
disable=missing-docstring,
        missing-class-docstring,
        import-outside-toplevel,
        invalid-name,
        too-few-public-methods,
        too-many-arguments,
        use-dict-literal

[FORMAT]
max-line-length=115
