# no-value-for-parameter  for click fuctions
#  redefined-builtin, unused-argument for shiny api
# pointless-string-statement for shiny.express
[MESSAGES CONTROL]
disable=missing-docstring,
        missing-class-docstring,
        import-outside-toplevel,
        invalid-name,
        too-few-public-methods,
        too-many-arguments,
        use-dict-literal,
        no-value-for-parameter,
        redefined-builtin,
        unused-argument,
        pointless-string-statement,
        pointless-statement

[FORMAT]
max-line-length=115
